[#escape x as (x)!?html]
    <script src="_files/vendor/jquery/dist/jquery.min.js"></script>
    <script src="_files/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="_files/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="_files/vendor/js-cookie/src/js.cookie.min.js"></script>
    <script src="_files/vendor/dayjs/dayjs.min.js"></script>
    <script src="_files/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="_files/vendor/jquery-validation/dist/additional-methods.js"></script>
    <script src="_files/vendor/jquery-validation/dist/localization/messages_zh.js"></script>
    <script src="_files/vendor/jquery-serializejson/jquery.serializejson.min.js"></script>
    <script src="_files/vendor/jquery-confirm/dist/jquery-confirm.min.js"></script>
    <!-- es6-promise 和 promise-polyfill 二选一，promise-polyfill 更小，但某些 CDN 里面没有 -->
    <!--<script src="_files/vendor/es6-promise/dist/es6-promise.auto.min.js"></script>-->
    <script src="_files/vendor/promise-polyfill/dist/polyfill.min.js"></script>
    <script src="_files/vendor/whatwg-fetch/dist/fetch.umd.min.js"></script>
    <script src="_files/vendor/qs/dist/qs.min.js"></script>
    <script src="_files/vendor/lodash/lodash.min.js"></script>
    <script src="_files/js/main.js"></script>
[/#escape]