<!doctype html>
[#escape x as (x)!?html]
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>${node.name} - ${site.fullNameOrName}${global.customs['poweredBy']}</title>
    <meta name="keywords" content="${node.keywords}">
    <meta name="description" content="${node.description}">
    [#include 'inc_meta.html'/]
    [#include 'inc_css.html'/]
    [#include 'inc_js.html'/]
</head>
<body>
[#include 'inc_header.html'/]
<div class="container">
    <div class="row">
        <div class="col mt-3">
            <div class="bg-light p-2">
                [#assign parentId=node.parent.id/]
                [#if !node.parent.parent??]
                [#assign parentId=node.id/]
                <a class="btn btn-primary" href="${node.url}">全部</a>
                [#else]
                <a class="btn btn-link" href="${node.parent.url}">全部</a>
                [/#if]
                [@NodeList parentId=parentId;list]
                [#list list as bean]
                <a class="btn [#if node.id==bean.id]btn-primary[#else]btn-link[/#if]" href="${bean.url}">${bean.name}</a>
                [/#list]
                [/@NodeList]
            </div>
            [@InfoPage nodeId=node.id isIncludeChildren='true' pageSize='10';pagedList]
            <div class="row mx-md-n2">
                [#list pagedList.content as bean]
                <div class="col-md-4 px-md-2 mt-3">
                    <div class="card">
                        <img src="${bean.smallImage}" class="card-img-top" alt="${bean.title}">
                        <div class="card-body p-2">
                            <p class="card-text text-truncate"><a href="${bean.url}" class="text-reset stretched-link">${bean.title}</a></p>
                        </div>
                    </div>
                </div>
                [/#list]
            </div>
            <div class="mt-3">
                [#include 'page.html'/]
            </div>
            [/@InfoPage]
        </div>
    </div>
</div>
[#include 'inc_footer.html'/]
</body>
</html>
[/#escape]