[#escape x as (x)!?html]
<a class="list-group-item list-group-item-action" href="${ctx}/my/notification" id="leftMyNotification">我的通知</a>
<a class="list-group-item list-group-item-action" href="${ctx}/my/message" id="leftMyMessage">我的私信</a>
<a class="list-group-item list-group-item-action" href="${ctx}/my/inbox" id="leftMyInbox">系统消息</a>
<a class="list-group-item list-group-item-action" href="${ctx}/my/favorite" id="leftMyFavorite">我的收藏</a>
<a class="list-group-item list-group-item-action" href="${ctx}/my/profile" id="leftMyProfile">资料修改</a>
<a class="list-group-item list-group-item-action" href="${ctx}/my/avatar" id="leftMyAvatar">头像修改</a>
<a class="list-group-item list-group-item-action" href="${ctx}/my/password" id="leftMyPassword">密码修改</a>
<a class="list-group-item list-group-item-action" href="${ctx}/my/email" id="leftMyEmail">邮箱修改</a>
<!--<a class="list-group-item list-group-item-action" href="${ctx}/my/contribution/create" id="leftMyContributionCreate">稿件发布</a>-->
<!--<a class="list-group-item list-group-item-action" href="${ctx}/my/contribution" id="leftMyContribution">稿件列表</a>-->
[/#escape]