<!doctype html>
[#escape x as (x)!?html]
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>专题 - ${site.fullNameOrName}${global.customs['poweredBy']}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    [#include 'inc_meta.html'/]
    [#include 'inc_css.html'/]
    [#include 'inc_js.html'/]
</head>
<body>
[#include 'inc_header.html'/]
<div class="container">
    <div class="row">
        <div class="col mt-3">
            <div class="bg-light p-2">
                <a class="btn [#if !category??]btn-primary[#else]btn-link[/#if]" href="${dy}/special_category">全部</a>
                [@SpecialCategoryList;list]
                [#list list as bean]
                <a class="btn [#if category?? && category.id==bean.id]btn-primary[#else]btn-link[/#if]" href="${dy}/special_category/${bean.id}">${bean.name}</a>
                [/#list]
                [/@SpecialCategoryList]
            </div>
            [@SpecialPage categoryId=(category.id)! pageSize='10';pagedList]
            <ul class="list-unstyled">
                [#list pagedList.content as bean]
                <li class="mt-3 media position-relative pb-3 border-bottom">
                    [#if bean.smallImage??]<img src="${bean.smallImage}" class="mr-3 cm-media-img"alt="${bean.title}">[/#if]
                    <div class="media-body">
                        <p class="mt-0 mb-1"><a href="${dy}/special/${bean.id}" class="text-reset stretched-link">${bean.title}</a></p>
                        <p class="small text-muted d-none d-sm-block mb-2">${substring(bean.description,80,'...')}</p>
                        <div class="small text-muted mt-2 clearfix">
                            <div class="float-left">
                                <span><a href="${dy}/special/${bean.category.id}">${bean.category.name}</a></span>
                                <i class="ml-2 far fa-eye"></i> ${bean.views}
                            </div>
                            <div class="float-right"><i class="ml-2 far fa-clock"></i> ${bean.creationDate?string('yyyy-MM-dd')}</div>
                        </div>
                    </div>
                </li>
                [/#list]
            </ul>
            [#include 'page.html'/]
            [/@SpecialPage]
        </div>
    </div>
</div>
[#include 'inc_footer.html'/]
</body>
</html>
[/#escape]